<a href="https://colab.research.google.com/github/matheusmoura-stack/Testes__Numpy-Pandas/blob/main/test004.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
lista = [['BRASIL', 'BRASIL', 'BRASIL','ARGENTINA','ARGENTINA','ARGENTINA'],[2017,2018,2019,2017,2018,2019]]

In [5]:
tupla = zip(*lista)

In [7]:
tupla

In [8]:
tupla = list(tupla)

In [9]:
tupla

[('BRASIL', 2017),
 ('BRASIL', 2018),
 ('BRASIL', 2019),
 ('ARGENTINA', 2017),
 ('ARGENTINA', 2018),
 ('ARGENTINA', 2019)]

In [12]:
multi = pd.MultiIndex.from_tuples(tupla)

In [13]:
multi

MultiIndex([(   'BRASIL', 2017),
            (   'BRASIL', 2018),
            (   'BRASIL', 2019),
            ('ARGENTINA', 2017),
            ('ARGENTINA', 2018),
            ('ARGENTINA', 2019)],
           )

In [26]:
df = pd.DataFrame(data = np.random.randn(6,2), index = multi, columns = ['EX DE TRIGO','EX DE ARROZ'])

In [27]:
df

                EX DE TRIGO  EX DE ARROZ
PAÍS      ANO
BRASIL    2017     1.722615     0.838389
          2018     1.463552    -0.552272
          2019    -0.211115     1.092652
ARGENTINA 2017     1.221460     0.132325
          2018     0.231269    -0.043972
          2019    -0.376156    -0.837115

In [51]:
df.index.names = ['PAÍS', 'ANO']

In [52]:
df

                EX DE TRIGO  EX DE ARROZ
PAÍS      ANO
BRASIL    2017     1.722615     0.838389
          2018     1.463552    -0.552272
          2019    -0.211115     1.092652
ARGENTINA 2017     1.221460     0.132325
          2018     0.231269    -0.043972
          2019    -0.376156    -0.837115

In [53]:
#ENCONTRANDO VALORES

In [54]:
df['EX DE ARROZ']

PAÍS       ANO
BRASIL     2017    0.838389
           2018   -0.552272
           2019    1.092652
ARGENTINA  2017    0.132325
           2018   -0.043972
           2019   -0.837115
Name: EX DE ARROZ, dtype: float64

In [55]:
df.loc['BRASIL']

      EX DE TRIGO  EX DE ARROZ
ANO
2017     1.722615     0.838389
2018     1.463552    -0.552272
2019    -0.211115     1.092652

In [56]:
df.xs(2017,level=1)

           EX DE TRIGO  EX DE ARROZ
PAÍS
BRASIL        1.722615     0.838389
ARGENTINA     1.221460     0.132325

In [57]:
df[:]

                EX DE TRIGO  EX DE ARROZ
PAÍS      ANO
BRASIL    2017     1.722615     0.838389
          2018     1.463552    -0.552272
          2019    -0.211115     1.092652
ARGENTINA 2017     1.221460     0.132325
          2018     0.231269    -0.043972
          2019    -0.376156    -0.837115

In [58]:
df[4:]

                EX DE TRIGO  EX DE ARROZ
PAÍS      ANO
ARGENTINA 2018     0.231269    -0.043972
          2019    -0.376156    -0.837115

In [59]:
df[3:]

                EX DE TRIGO  EX DE ARROZ
PAÍS      ANO
ARGENTINA 2017     1.221460     0.132325
          2018     0.231269    -0.043972
          2019    -0.376156    -0.837115

In [60]:
df[:4]

                EX DE TRIGO  EX DE ARROZ
PAÍS      ANO
BRASIL    2017     1.722615     0.838389
          2018     1.463552    -0.552272
          2019    -0.211115     1.092652
ARGENTINA 2017     1.221460     0.132325

In [61]:
df[:3]

             EX DE TRIGO  EX DE ARROZ
PAÍS   ANO
BRASIL 2017     1.722615     0.838389
       2018     1.463552    -0.552272
       2019    -0.211115     1.092652

In [62]:
df

                EX DE TRIGO  EX DE ARROZ
PAÍS      ANO
BRASIL    2017     1.722615     0.838389
          2018     1.463552    -0.552272
          2019    -0.211115     1.092652
ARGENTINA 2017     1.221460     0.132325
          2018     0.231269    -0.043972
          2019    -0.376156    -0.837115

In [63]:
df[['EX DE TRIGO','EX DE ARROZ']]

                EX DE TRIGO  EX DE ARROZ
PAÍS      ANO
BRASIL    2017     1.722615     0.838389
          2018     1.463552    -0.552272
          2019    -0.211115     1.092652
ARGENTINA 2017     1.221460     0.132325
          2018     0.231269    -0.043972
          2019    -0.376156    -0.837115

In [64]:
#Vendo o DataFrame de outro jeito

In [65]:
df2 = df.unstack()

In [66]:
df2

          EX DE TRIGO                     EX DE ARROZ
ANO              2017      2018      2019        2017      2018      2019
PAÍS
ARGENTINA    1.221460  0.231269 -0.376156    0.132325 -0.043972 -0.837115
BRASIL       1.722615  1.463552 -0.211115    0.838389 -0.552272  1.092652