<a href="https://colab.research.google.com/github/matheusmoura-stack/Testes__Numpy-Pandas/blob/main/test002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
#Criação de Dataframes a partir de um array!

In [4]:
arr = np.random.randint(10,55,size=(4,4))

In [5]:
arr

array([[20, 29, 41, 15],
       [32, 32, 21, 18],
       [19, 41, 40, 36],
       [39, 20, 35, 14]])

In [11]:
df1 = pd.DataFrame(data=arr, index=['a','b','c','d'], columns=['w','x','y','z'])

In [12]:
df1

    w   x   y   z
a  20  29  41  15
b  32  32  21  18
c  19  41  40  36
d  39  20  35  14

In [13]:
#Criação de DataFrames a partir de Listas

In [15]:
lista = [[10,20,30,40],[50,60,70,80]]

In [16]:
df2 = pd.DataFrame(data=lista)

In [17]:
df2

    0   1   2   3
0  10  20  30  40
1  50  60  70  80

In [18]:
#Criação de DataFrames através de um dicionário

In [23]:
dados = {'produtos': ['VideoGame', 'PC','Teclado','Microfone'],'preço':[2600, 4500, 220, 180]}

In [24]:
df3 = pd.DataFrame(data = dados)

In [25]:
df3

    produtos  preço
0  VideoGame   2600
1         PC   4500
2    Teclado    220
3  Microfone    180

In [26]:
#Criando uma nova coluna

In [28]:
df3['custo'] = [1900,2600,250,160]

In [29]:
df2

    0   1   2   3
0  10  20  30  40
1  50  60  70  80

In [30]:
df3

    produtos  preço  custo
0  VideoGame   2600   1900
1         PC   4500   2600
2    Teclado    220    250
3  Microfone    180    160

In [31]:
df3['Lucro'] = df3['preço'] - df3['custo']

In [32]:
df3

    produtos  preço  custo  Lucro
0  VideoGame   2600   1900    700
1         PC   4500   2600   1900
2    Teclado    220    250    -30
3  Microfone    180    160     20